<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login verification code</title>
  </head>
  <body>
    <h2>Hello <%= name %>,</h2>
    <p>We received a request to log in to your account. Use the following One-Time Password (OTP) to complete your login:</p>
    <h1><%= otp %></h1>
    <p>This code will expire in 10 minutes. If you did not attempt to log in, please secure your account.</p>
  </body>
</html>
